<h1>Add A New Todo</h1>
<form action="/" method="post">
  <input type="text" placeholder="title" name="title">
  <input type="text" placeholder="description" name="description">
  <button>Add Todo</button>
</form>

