<h1>Go Ahead & Edit A Task or Assignment</h1>
<form action="/todos/<%= todo.id %>" method="post">
<input type='text' name="name" value="<%= @todo.name%>"placeholder="name">
<input type='text' name="description" <%= @todo.description%>placeholder="description">
<input type="hidden" name="_method" value="put">
<button>Submit</button>
</form>