<h1> This is an Index of My Todos</h1>

  <% @todos.each do |todo| %>
    <ul>
      <li> <%= todo.task %></li>
        <ul>
          <li> <%= todo.task_description %></li>
        </ul>
    </ul>
  <%end%>