<h1>This is where I'll create a new Task!</h1>

<form action="/todos" method="post">
  <input type="text" name="task" placeholder="task">
  <input type="text" name="task_description" placeholder="task description">
  <button>Enter New Todo</button>
</form>