<h1>This is where I am going to create a new todo</h1>


<form action="/todos" method="post">
<input type="text" name="task" placeholder="task">
<input type="text" name="task_description" placeholder="task description">
<button>Add a New Task</button>
</form>