<h1>Add a new task here</h1>
<form action="/tasks" method="post">
  Task name: <br /><input type="text" name="name" autofocus />  <br />
  Task description: <br /><input type="text" name="description" /> <br />
  <button>Add New Task</button>
</form>