<h1>new task</h1>

<form action="/tasks" method="post">
  <input type="text" name="name" placeholder="task"><br>
  <input type="text" name="info" placeholder="info"><br>
  <input type="text" name="done" placeholder="done"><br>

  <label>add person to task</label>
    <select name="contact">
    <% @contacts.each do |contact| %>
  <option value="<%= contact.id %>"><%= contact.name %></option>
  <% end %>
  </select>
<br>
  <button>make new task</button>
</form>