<ul>
<li><%= @task.name %> </li>
<li><%= @task.description %></li>
</ul>
<p>
  <a href="/tasks/<%= @task.id %>/edit">Edit Task</a>
</p>
<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>Delete Task</button>
</form>