<form action = "/tasks/<%=@task.id%>" method = 'post'>
	<input type="hidden" name="_method" value="put">
	<input type = "text" name = "todo" value = "<%=@task.todo%>">
	<input type = "text" name = "description" value = "<%=@task.description%>">
	<input type= "date" name = "due" value = "<%=@task.due%>">
	<label for="urgent">Urgent</label>
	<input type="checkbox" name = "urgent" <%if @task.urgent%>checked<%end%>>
 	<button>Save Task</button>
</form>