<div class="well">
  <h2>All Tasks</h2>

  <% @tasks.each do |task| %>
    <!-- Old way: <p><a href="/tasks/<%= task.id %>"><%= task.name %></a></p> -->
    <p><%= link_to task.name, task_path(task) %></p>
  <% end %>
  <%= link_to "Add Task", new_task_path, class: 'btn btn-info' %>
</div>
