<h1>Create a new task</h1>

<form action="/tasks" method="post">
  <input type="text" name="task_info" placeholder="Input task"><br><br>
  <label for="date">To be completed by (optional): </label><br>
  <input type="date" name="due_date"><br><br>
  <button>Create task</button>
</form>
