<form action = "/tasks" method = 'post'>
	<input type = "text" name = "todo" placeholder = "todo">
	<input type = "text" name = "description" placeholder = "description">
	<input type= "date" name = "due" placeholder = "due">
	<label for="urgent">Urgent</label>
	<input type="checkbox" name = "urgent">
 	<button>Add Task</button>
</form>