<div class="well">
  <h2>All Contacts</h2>
  <% @contacts.each do |contact| %>
    <p><%= contact.name %></p>
  <% end %>
  <%= link_to "Add Contact", new_contact_path, class: 'btn btn-info' %>
</div>