 <nav>
 <%= link_to("Todo Page", todos_path) %> |
 <%= link_to("Create a Task", new_todo_path) %> |
 <%= link_to("Contact Page", contacts_path) %> |
 <%= link_to("Create a Contact", new_contact_path) %> |
</nav>