<h1>This is where my Contacts will be</h1>


<% @contacts.each do |contact| %>
<ul>
  <li><a href="/contacts/<%=contact.id%>"> <%= contact.name %> </a></li>
    <ul>
      <li><%= contact.title %></li>
    </ul>
</ul>

<% end %>