<h1>Add A New Person</h1>

<form action="/contacts" method="post">
  <input type='text' name="first_name" placeholder="First Name">
  <input type='text' name="last_name" placeholder="last name">
  <button>Submit</button>

</form>