<h1>Create a new contact</h1>

<form action="/contacts" method="post">
  <input type = "text" name="name" placeholder = "name">
  <input type = "title" name="title" placeholder = "title">
  <button>Create New Contact</button>
</form>


