<h1>Populates an individual page</h1>


<br><%= @contact.name %></br>
<br><%= @contact.title %></br>



<a href="/contacts/<%=@contact.id%>/edit">Edit Contact</a>
<form action="/contacts/<%= @contact.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<button>Delete Contact</button>
</form>