<h1><%= @contact.name %></h1>

<p><a href="/contacts/<%= @contact.id %>/edit">Edit Contact</a><p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type='hidden' name="_method" value="delete">
  <button>Delete Contact</button>
</form>

