<h1>Hey, <%= @contact.first_name %>. Here's what you've got to do.</h1>

  <ul>
    <li>
      <%= @todo.name %>
      <%= @todo.description %>
    </li>

  </ul>

<form action="/contacts/<%= @contact.id %>" method="post" >
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>

 </form>