<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header> <a href="/todos">Home</a>
         <a href="/todos/new">Add a new task</a>
         <a href="/contacts">View Contacts</a>
         <a href="/contacts/new">Add a new Contact</a>
         </header>
<%= yield %>


</body>
</html>
