<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/todos">Todos Page</a>
<a href="/todos/new">Create a New Task</a>
<a href="/contacts">Contacts</a>
<a href="/contacts/new">Create a New Contact</a>
<%= yield %>

</body>
</html>
