<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="/todos">Index</a>
  <a href="/todos/new">New To-Do</a>
  <a href="/contacts">Contacts</a>
  <%= yield %>
</body>
</html>
