<form action="/todos" method="post">
<input type="text" name="task" placeholder="task">
<input type="text" name="location" placeholder="location">
<input type="text" name="description" placeholder="description">

<button>Add Task</button>
</form>