<h1>Edit To-Do</h1>

<form action="/todos/<%= @todo.id %>" method="post">
  <input type="text" name="todo" value="<%= @todo.todo %>">
  <input type="text" name="notes" value="<%= @todo.notes %>">
  <p>Done?</p> <% if @todo.done %>
    <input type="checkbox" name="done" value="true" checked="yes">
  <% else %>
    <input type="checkbox" name="done" value="true">
  <% end %>
  <input type="hidden" name="_method" value="put">
  <button>Update</button>
</form>
