<h1>Manage Your To-do's Here</h1>

<p>Here'a list of your current to-do's:</p>

<% if @todos.nil? %>
  <ul><li>"You current do not have any tasks saved."</li></ul>
<% else %>
  <ul>
    <% @todos.each do |task| %>
      <li><%= task.name %> <a href="/todos/<%= task.id %>">(Details)</a></li>
    <% end %>
  </ul>
<% end %>
