<h1>Create a New Task!</h1>

<form action="/todos" method="POST">
  <input type="text" name="name" size="50px" placeholder="Enter your task here" autofocus><br/>
  <input type="text" name="note" size="50px" placeholder="Leave a note of your task"><br/>
  <button>Add This Task</button>
</form>