<h1>Add a task</h1>

<form action="/todos" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="do_by" placeholder="Date to finish">
  <input type="radio" name="done" value="false" checked>Not Done
  <input type="radio" name="done" value="true">Done
  <button>Add task</button>
</form>