<h1>Add a task</h1>

<form action="/todos" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <input type="text" name="do_by" placeholder="Date to finish by"><br>
  <input type="radio" name="done" value="false" checked>Not Done
  <input type="radio" name="done" value="true">Done<br>
  <button>Add task</button>
</form>