<h2><%= @todo.todo %></h2>

<p><%= @todo.notes %></p>

<p>Done?
  <% if @todo.done %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p><a href="/todos/<%= @todo.id %>/edit">Edit to-do</a></p>
<form action="/todos/<%= @todo.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete to-do</button>
</form>