<h1>Details of This Task</h1>

<ul>
  <li>Name: <%= @task.name %></li>
  <li>Description: <%= @task.note %></li>
</ul>


<a href="/todos/<%= @task.id %>/edit"><button>Edit this task</button></a>

<form action="/todos/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete this task</button>
</form>
