<h1>Edit To-Do</h1>
<form action="/todos/<%= @todo.id %>" method="post">
  <label for="name">To-Do name</label><br/>
  <input type="text" name="name" value="<%= @todo.name %>"><br/>
  <label for="description">To-Do description</label><br/>
  <input type="text" name="description" value="<%= @todo.description %>"><br/>
  <label for="due_date">To-Do due date (mm/dd/yyyy)</label><br/>
  <input type="text" name="due_date" value="<%= @todo.due_date %>"><br/>
  <input type="hidden" name="_method" value="put">
  <button>Submit Changes</button>
</form>