<h1>Edit Your Task</h1>
<form action="/todos/<%=@todo.id %>" method="post">
  <input type="text" value="<%=@todo.title%>" name="title">
  <input type="text" value="<%=@todo.description%>" name="description">
  <input type="hidden" name="_method" value="put">
  <button>Edit Todo</button>
</form>