<h1>Create a new to-do</h1>
<form action="/todos/new" method="post">
  <label for="name">Enter a to-do name</label><br/>
  <input type="text" name="name" autofocus="true"><br/>
  <label for="description">Enter a short description</label><br/>
  <input type="text" name="description"><br/>
  <label for="due_date">Enter a due date (mm/dd/yyyy)</label><br/>
  <input type="text" name="due_date"><br/>
  <button>Submit</button>
</form>