<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">Home</a>
<a href="/todos">Todos</a>
<a href="/todos/new">Add a Todo</a>

<%= yield %>

</body>
</html>
