<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Rails To-Do App</a>
      <ul class="nav">
        <li><%= link_to "Home", root_path, {class: 'class-goes-here'} %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= link_to "Contacts", contacts_path %></li>
      </ul>
    </div>
  </div>
</div>