<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<a href="/">Main page</a>
<a href="/dogs">See all tasks</a>
<a href="/dogs/new">Make a task</a>

</body>
</html>
