<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="/">Rails To-Do App</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 offset2">
      <%= yield %>
    </div>
  </div>
</body>
</html>
