<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">Home</a> | <a href="/tasks">All Tasks</a> | <a href="/tasks/new">Add Task</a>
<%= yield %>

</body>
</html>
